bin/
.zed/
.vscode/
dist/
.DS_Store 
backend/data/
backend/cmd/assets/
backend/.env
backend/.env.backup.*
backend/config.yaml
backend/config.local.yaml
backend/config/*
backend/coverage.*
backend/_config.*
backend/exports/*
backend/tmp
*.log
infra/.certs/
docker-compose.override.yaml